[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.20"
optimizer = true
optimizer_runs = 200

remappings = [
    "@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/"
]

[rpc_endpoints]
cronos_testnet = "https://evm-t3.cronos.org"

# Comment out etherscan section for now
# [etherscan]
# cronos_testnet = { key = "${CRONOSCAN_API_KEY}", url = "https://cronos.org/explorer/testnet3/api" }